@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-pane {
  display: none;
}

@media only screen and (min-width: 900px) {
  .custom-grid {
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-gap: 1rem;
  }
  .custom-pane {
    display: block;
  }
}
